@import 'font.css';

.App {
  text-align: center;
  background-color: #829356;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.number-generator {
  background-color: #0d3d56;
  width: 60%;
  height: 100vh;
  padding: 50px 10px;
}

h1 {
  font-family: 'Automani';
  color: #c02f1d;
  margin-bottom: 30px;
  font-size: 60px;
}

[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

button {
  background-color: #efd469;
  border: none;
  color: #0d3d56;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #bca136;
}

span {
  color: whitesmoke;
  font-size: 30px;
}

.lotto_number {
  border-radius: 100%;
  background-color: rgb(255, 248, 55);
  width: 50px;
  height: 50px;
  color: black;
  font-size: 27px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
}

.megaball {
  background-color: rgb(255, 26, 26);
}

.lottery-numbers-row {
  display: flex;
  justify-content: center;
  margin: 10px;
}

@media (max-width:700px) {
  .number-generator {
    width: 80%;
  }
  h1 {
    font-size: 40px;
  }
  span {
    font-size: 20px;
  }
  [type="radio"] {
    width: 15px;
    height: 15px;
    margin: 0px 5px;
  }
  .lotto_number {
    font-size: 20px;
    height: 35px;
    width: 35px;
    aspect-ratio: 1/1;
  }
}