@import 'font.css';

.App {
  text-align: center;
  background-color: #829356;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.basic-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.bacis-column {
  display: flex;
  flex-direction: column;
}

.number-generator {
  background-color: #0d3d56;
  width: 60%;
  padding: 50px 10px;
}

h1 {
  font-family: 'Automani';
  color: #c02f1d;
  margin-bottom: 30px;
  font-size: 60px;
}

[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

select {
  font-size: 20px;
  font-weight: 900;
  color: #0d3d56;
  background-color: #efd469;
  border: none;
  outline: none;
  border-radius: 5%;
  padding: 5px 0 5px 15px;
  margin: 0 10px;
  vertical-align: text-top;
}

button {
  background-color: #efd469;
  border: none;
  color: #0d3d56;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #bca136;
}

.number-setting-button {
  background-color: transparent;
  color: #efd469;
  cursor: pointer;
  font-size: 23px;
}

.number-setting-button:hover {
  background-color: transparent;
  color: #bca136;
}

span {
  color: whitesmoke;
  font-size: 30px;
}

.lotto_number {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 27px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
}

.megaball {
  background-color: yellow;
}

.lottery-numbers-row {
  display: flex;
  justify-content: center;
  margin: 10px;
}

@media (max-width:700px) {
  .number-generator {
    width: 80%;
  }
  h1 {
    font-size: 38px;
  }
  span {
    font-size: 20px;
  }
  [type="radio"] {
    width: 15px;
    height: 15px;
    margin: 0px 5px;
  }
  .lotto_number {
    max-height: 35px;
    min-width: 35px;
    font-size: 18px;
  }
  button {
    font-size: 20px;
  }
}